appdirs==1.4.4 ; python_version >= "3.8" and python_version < "4.0"
attrs==23.1.0 ; python_version >= "3.8" and python_version < "4.0"
beautifulsoup4==4.12.2 ; python_version >= "3.8" and python_version < "4.0"
cairocffi==1.6.0 ; python_version >= "3.8" and python_version < "4.0"
cairosvg==2.7.0 ; python_version >= "3.8" and python_version < "4.0"
certifi==2023.5.7 ; python_version >= "3.8" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.8" and python_version < "4.0"
charset-normalizer==3.1.0 ; python_version >= "3.8" and python_version < "4.0"
click-plugins==1.1.1 ; python_version >= "3.8" and python_version < "4.0"
click==8.1.3 ; python_version >= "3.8" and python_version < "4.0"
cligj==0.7.2 ; python_version >= "3.8" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "4.0" and platform_system == "Windows"
cssselect2==0.7.0 ; python_version >= "3.8" and python_version < "4.0"
decorator==4.4.2 ; python_version >= "3.8" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.8" and python_version < "4.0"
fiona==1.9.4.post1 ; python_version >= "3.8" and python_version < "4.0"
future==0.18.3 ; python_version >= "3.8" and python_version < "4.0"
geographiclib==2.0 ; python_version >= "3.8" and python_version < "4.0"
geopandas==0.13.2 ; python_version >= "3.8" and python_version < "4.0"
idna==3.4 ; python_version >= "3.8" and python_version < "4.0"
imageio-ffmpeg==0.4.8 ; python_version >= "3.8" and python_version < "4.0"
imageio==2.31.1 ; python_version >= "3.8" and python_version < "4.0"
importlib-metadata==6.6.0 ; python_version >= "3.8" and python_version < "3.10"
importlib-resources==5.12.0 ; python_version >= "3.8" and python_version < "3.9"
moviepy==1.0.3 ; python_version >= "3.8" and python_version < "4.0"
networkx==3.1 ; python_version >= "3.8" and python_version < "4.0"
numpy==1.24.3 ; python_version >= "3.8" and python_version < "4.0"
osmnx==1.4.0 ; python_version >= "3.8" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.8" and python_version < "4.0"
pandas==2.0.2 ; python_version >= "3.8" and python_version < "4.0"
pillow==9.5.0 ; python_version >= "3.8" and python_version < "4.0"
proglog==0.1.10 ; python_version >= "3.8" and python_version < "4.0"
py-staticmaps==0.4.0 ; python_version >= "3.8" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.8" and python_version < "4.0"
pygame-animatedgif==0.1.0 ; python_version >= "3.8" and python_version < "4.0"
pygame-ce==2.2.1 ; python_version >= "3.8" and python_version < "4.0"
pygame-gui==0.6.9 ; python_version >= "3.8" and python_version < "4.0"
pygame-menu-ce==4.4.3 ; python_version >= "3.8" and python_version < "4"
pygame==2.4.0 ; python_version >= "3.8" and python_version < "4.0"
pyperclip==1.8.2 ; python_version >= "3.8" and python_version < "4"
pyproj==3.5.0 ; python_version >= "3.8" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "4.0"
python-gettext==5.0 ; python_version >= "3.8" and python_version < "4.0"
python-i18n==0.3.9 ; python_version >= "3.8" and python_version < "4.0"
python-slugify==8.0.1 ; python_version >= "3.8" and python_version < "4.0"
pytz==2023.3 ; python_version >= "3.8" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.8" and python_version < "4.0"
s2sphere==0.2.5 ; python_version >= "3.8" and python_version < "4.0"
shapely==2.0.1 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4.0"
soupsieve==2.4.1 ; python_version >= "3.8" and python_version < "4.0"
svgwrite==1.4.3 ; python_version >= "3.8" and python_version < "4.0"
text-unidecode==1.3 ; python_version >= "3.8" and python_version < "4.0"
tinycss2==1.2.1 ; python_version >= "3.8" and python_version < "4.0"
tqdm==4.65.0 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.6.3 ; python_version >= "3.8" and python_version < "4"
tzdata==2023.3 ; python_version >= "3.8" and python_version < "4.0"
urllib3==2.0.3 ; python_version >= "3.8" and python_version < "4.0"
webencodings==0.5.1 ; python_version >= "3.8" and python_version < "4.0"
zipp==3.15.0 ; python_version >= "3.8" and python_version < "3.10"
